@import '../../../styles/variables.scss';

.historicPrices {
  padding: map-get($sizes, minimal-padding);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  
  &__header {
    margin-bottom: 20px;
    font-size: 4rem;
    font-weight: map-get($fontWeight, text);
    color: #fff;
    text-shadow: 9px 8px 0px rgba(0,0,0,0.15);
  }
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 3rem;
  font-weight: 600;
  background-color: #DBE2EF;
  border: solid 15px #3F72AF;
  border-radius: 20px;
  box-shadow: 0 0 60px #000;
  
  &__text {
    justify-self: start;
    list-style-type: none;
    border: 5px solid #263c55;
    background-color: map-get($colors, main);
    box-shadow: 0 0 6px #ccc;
    padding: 7px;
    margin: 15px;
    border-radius: 10px;
  }
}