@import '../../../styles/variables.scss';

.historicPrices {
  padding: map-get($sizes, minimal-padding);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  
  &__header {
    margin-bottom: 20px;
    font-size: 4rem;
    font-weight: map-get($fontWeight, text);
    color: #fff;
    text-shadow: 9px 8px 0px rgba(0,0,0,0.15);
  }
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;

  &__text {
    list-style-type: none;
    border: 3px solid #2d2d2d;
    background-color: map-get($colors, main);
    box-shadow: 0 0 6px #ccc;
    margin-bottom: 15px;
  }
}